export(mdsplot.RGset)
export(plotDE)
export(qqplot_JH)
export(PCAplot.cds)
export(PCAplot.eset)
export(annotate_df)
export(boxplotoutliers)
export(create_report)
export(ggplotDispEsts)
export(mds)
export(nuseoutliers)
export(plot_dendro)
export(rleoutliers)
export(row2colnames)
export(variance_by_component)
export(write_report)
export(ggplotDispEsts)
export(bcv)
export(mds)
export(qqplot2)
export(ggROC)
export(base_name)
